<h2>施設ジャンル編集</h2>


<label>ジャンル名</label>
<%= form_with model: @facility_genre, url: admin_facility_genre_path(@facility_genre), method: :patch do |f| %>
  <%= f.text_field :name, autofocus: true, id:"name", placeholder:"name" %>

  <div>
    <%= f.submit '更新' %>
  </div>

  <%= link_to "Back", admin_facility_genre_path(@facility_genre) %>
<% end %>