<h2>ペットジャンル編集</h2>


<label>ジャンル名</label>
<%= form_with model: @pet_genre, url: admin_pet_genre_path(@pet_genre), method: :patch do |f| %>
  <%= f.text_field :name, autofocus: true, id:"name", placeholder:"name" %>

  <div>
    <%= f.submit '更新' %>
  </div>

  <%= link_to "Back", admin_pet_genre_path(@pet_genre) %>
<% end %>